@font-face {
    font-family: 'Gotham Light';
    src: url(../Multimedia/Fonts/Gotham/Gotham-Light.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245 245 245);
    font-family: 'Gotham Light';
}

@keyframes download {
    50%{
        width: -50%;
        background-color: green;
    }
}


@media screen and (min-width: 768px) {

    .container {
        height: 100vh;
    }

    /* Menu */
    .navbar {
        grid-area: menu;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10%;
        height: 200px;
        position: sticky;
        top: 0;
        background-color: rgb(245 245 245);
    }

    .navbar-mobile {
        display: none;
    }

    #logo {
        width: 10%;
        padding: 1em 0 0 1em;
        border-radius: 5px;
        transition: .3s;
    }

    #logo:hover {
        transform: scale(105%);
        border-radius: 7px;
        will-change: transform;
        transition: .3s;
    }

    #logo>img {
        width: 100%;
    }

    .arrow {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        text-decoration: none;
        color: #333333;
        font-size: 18px;
        border-radius: 5px;
        width: 150px;
        height: 40px;
        border: 1px solid #333333;
        position: relative;
        transition: .3s;
        background-color: #ffffff00;
    }

    .arrow::before,
    .arrow::after {
        content: "";
        background-color: #333;
        display: block;
        position: absolute;
        transform-origin: 100% 50%;
        width: 11px;
        height: 1px;
        top: 50%;
        right: 15px;
        border-radius: 2px;
        will-change: transform;
        transition: .3s;
    }

    .arrow::before {
        transform: translateY(-50%) rotate(30deg);
    }

    .arrow::after {
        transform: translateY(-50%) rotate(-30deg);
    }

    .arrow:hover::before {
        transform: translate(5px, -50%) rotate(30deg);
    }

    .arrow:hover::after {
        transform: translate(5px, -50%) rotate(-30deg);
    }

    /* >-----------------[Index]-----------------< */
    /* Container index */
    #containerIndex {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            " menu menu menu menu menu "
            " titulo titulo     .       img img "
            " titulo titulo     vline   img img "
            " titulo titulo     .       img img "
            " . . . . .";

    }

    /* Title */
    .titulo {
        grid-area: titulo;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Vertical line */
    .linea {
        grid-area: vline;
        display: flex;
        justify-content: center;
    }

    .v-line {
        border: 1px solid #191919;
    }

    /* My picture */
    #myPic {
        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #myPic>img {
        width: 90%;
        border-radius: 5px;
    }

    /* >-----------------[Contact]-----------------< */
    #containerContact {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr .5fr repeat(3, 1fr);
        grid-template-areas:
            " menu menu menu menu menu "
            " . contactTitle . . . "
            " . contactForm contactForm contactForm . "
            " . contactForm contactForm contactForm . "
            " . contactForm contactForm contactForm . ";
    }

    #contactTitle {
        grid-area: contactTitle;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #formContact {
        grid-area: contactForm;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "firstName lastName aside aside"
            "subject subject aside aside"
            "message message aside aside"
            "message message aside aside"
            ". submit aside aside";
        border: 2px solid black;
        border-radius: 5px;
        padding: 2em;
    }

    #formContact>div>input,
    #formContact>div>textarea {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid black;
        outline: none;
        font-family: 'Gotham Light';
        font-size: .85em;
    }

    #formContact>div>input {
        height: 50%;
        width: 20%;
        transition: .3s;
    }

    #formContact>div>input:focus {
        width: 100%;
        transition: .3s;
    }

    #formContact>div>input::after {
        content: '';
        width: 100%;
    }

    .col {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    #firstName {
        grid-area: firstName;
    }

    #firstName>label::after {
        content: '*';
    }

    #lastName {
        grid-area: lastName;
    }

    #subject {
        grid-area: subject;
    }

    #subject>label::after {
        content: '*';
    }

    #message {
        grid-area: message;
        resize: none;
    }

    #message>label::after {
        content: '*';
    }

    #submit {
        grid-area: submit;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        color: #333333;
        font-size: 15px;
        border-radius: 3px;
        width: 100px;
        height: 40px;
        border: 1px solid #333333;
        position: relative;
        transition: .3s;
        background-color: #ffffff00;
        cursor: pointer;
    }

    #submit:hover {
        color: white;
        background-color: #333333;
    }

    #formContact>aside {
        grid-area: aside;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
    }

    #formContact>aside a {
        color: black;
        text-decoration: none;
    }

    .images {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .images>a {
        width: 10%;
        transition: .3s;
    }

    .images>a:hover {
        transform: translateY(-5px);
        filter: drop-shadow(2px 1px 3px rgba(0, 0, 0, .5));
    }

    .images>a>img {
        width: 100%;
    }

    .imgRedes {
        width: 10%;
    }


    /* >-----------------[CurriculumV]-----------------< */
    #containerCV {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 200px repeat(4, 1fr);
        grid-template-areas:
            " menu menu menu menu menu menu"
            " . cv cv cv . ."
            " . cv cv cv . aside"
            " . cv cv cv . ."
            " . . . . . . ";
    }

    .cv {
        grid-area: cv;
        width: 100%;
    }

    .cv>a,
    .cv>a>img {
        width: 80%;
    }

    #asideCV {
        grid-area: aside;
        position: sticky;
        top: 50%;
        right: 10%;
    }

    #asideCV>a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        color: #333333;
        font-size: 15px;
        border-radius: 3px;
        width: 150px;
        height: 40px;
        border: 1px solid #333333;
        position: relative;
        transition: .3s;
        background-color: #ffffff00;
        cursor: pointer;
    }
    
    #asideCV>a:hover {
        color: white;
        background-color: #333333;
    }
    
    #asideCV>a:target,
    #asideCV>a:active{
        animation: download  5s;
    }


    /* >-----------------[Projects]-----------------< */
    #containerProjects {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 200px repeat(4, 1fr);
        grid-template-areas:
            " menu menu menu menu menu "
            " . projects projects projects . "
            " . projects projects projects . "
            " . projects projects projects . "
            " . . . . . ";
    }

    .projects{
        grid-area: projects;
    }

    .lenguage{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    }

    .h-line{
        display: flex;
        flex-direction: column;
        width: 15%;
        padding-right: 1em;
    }
    
    #line{
        border: 1px solid rgb( 0 0 0 / 0.7);
    }

    .height{
        height: 200px;
    }


    /* >-----------------[About Me]-----------------< */
    #containerAbout {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            " menu menu menu menu menu "
            " . . desc . . "
            " . . . . . "
            " . . . . . "
            " . . . . . ";
    }

    .desc{
        text-align: justify;
        grid-area: desc;
    }

 

}

@media screen and (max-width: 767px) {

    .navbar {
        display: none;
    }

    .navbar-mobile {
        overflow: hidden;
        background-color: #333333;
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-mobile a {
        float: left;
        display: block;
        color: rgb(245 245 245);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 80%;
    }

    .navbar-mobile a:hover {
        background: rgb(245 245 245);
        color: black;
    }

    .navbar-mobile a.active {
        background-color: rgb(245 245 245);
        color: #333333;
    }
   
    .titulo{
        width: 100%;
        font-size: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #myPic {
        width: 1%;
    }

    #myPic>img {
        width: 100%;
    }


    /* >-----------------[Index]-----------------< */


    /* >-----------------[Contact]-----------------< */


    /* >-----------------[CurriculumV]-----------------< */


    /* >-----------------[Projects]-----------------< */


    /* >-----------------[About Me]-----------------< */


}