$black: #101010;
$black-minimal: #191919;
$grey-dark: #333333;
$grey-mid-dark: #263d2d;
$grey-light: #9da79e;
$white: #ffffff;

@font-face {
	font-family: roboto-regular;
	src: url(/Multimedia/fuentes/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: roboto-thin;
	src: url(/Multimedia/fuentes/Roboto/Roboto-Thin.ttf);
}

@font-face {
	font-family: roboto-light;
	src: url(/Multimedia/fuentes/Roboto/Roboto-Light.ttf);
}

.thin {
	font-family: roboto-thin;
}

.light {
	font-family: roboto-light;
}
